body {
  background-color: #352f5b;
}
.container {
  max-width: 400px;
}
img {
  width: 369px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

input[type="text"],
input[type="text"]:focus {
  color: #fff;
  border: none;
  background: rgba(0, 0, 0, 0.2);
  max-width: 400px;
}

.todos li {
  background: #423a6f;
}
.delete {
  cursor: pointer;
}
.filtered {
  display: none !important;
}

h1 {
  font-size: 1.2rem;
  text-align: start;
  top: -30px;
  position: relative;
  margin-left: 10px;
  margin-bottom: 0px;
}
.weather-container {
  max-width: 200px;
  top: -65px;
  left: 160px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

h3 {
  font-size: 0.9rem;
  margin-left: 10px;
  margin-bottom: 0px;
}

.weather {
  font-size: 0.9rem;
  margin-left: 10px;
  margin-bottom: 0px;
}
